* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    scroll-behavior: smooth;
}
body{
	height: 100vh;
	background-image: url('https://pic.imgdb.cn/item/6417e83fa682492fcc5b650a.jpg');
}
a{
	text-decoration:none;
	color: pink
}
h1{
	text-align: center;
}
ul,ol,li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input{
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 12px;
}
button{
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 8px;
	box-shadow: inset 1px 1px 2px rgb(51 51 51 / 50%)
}
button:hover{
	background-color: rgb(173, 220, 238);
	box-shadow: inset 1px 1px 5px rgba(222, 222, 222, 0.893)
}
button:active{
	background-color: pink;
}
.input-button{
	text-align: right;
	margin-top: 20px;
}
dl{
	text-align: left;
}
dl>p{
	margin-top: 20px;
	margin-bottom: 20px;
}
table{
}td{
	text-align: right;
}
ul li{
	cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}ul li:hover{
	background-color: rgb(153, 246, 215);
}

/* 导航 begin */
nav{
	position: fixed;
    left: 0;
    top: 150px;
    padding: 7px;
    border-radius: 0 7px 7px 0;
    box-shadow: 2px 1px 9px 3px darkgray;
	background-color: white;
}
nav>div{
	font-size: 25px;
}
nav>p{
	margin: 7px;
    cursor: pointer;
}

/* 导航 end */


.dice{
	width: 75%;
	padding: 20px;
	font-size: 20px;
}
.tag{
	font-size: small;
	text-align: left;
	padding-left: 10px;
	color: #9f9f9f;
}
.result-box{
	background-color: white;
	border-radius: 12px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	min-height: 67px;
}
.table{
	background-color: #343434;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 50%);
	
}
table{
    color: #e3e3e3;
	border-spacing: 13px;
}
table th,table td{
	text-align: center;
}
.table2{
	background-color: #ffffff;
    color: #000000;
	border: 2px solid black;
	/* border-radius: 10px; */
	box-shadow: 3px 5px 20px rgb(0 0 0 / 50%);
	border-spacing: 0px;
}
.table2 th,.table2 td{
	padding: 10px;
	border: 1px solid #000;
	text-align: left;
}
table input{
	background-color: #494949;
	color: #d7d7d7;
	border-radius: 0;
	margin-bottom: 0;
}
.alternative{
	width: 66%;
}
.phone .alternative input{
	width: 100%;
}
.quanzhong_add{
	text-align: center;
	margin: 20px;
}


/* 功能性盒子 begin */
.bar-small{
	width: 100%;
	height: 25px;
}
.bar-nomral{
	width: 100%;
	height: 50px;
}
.bar-big{
	width: 100%;
	height: 70px;
}
/* 功能性盒子 end */

/* 手机端适应 */
@media screen and (max-width: 960px) {
	body{
		overflow-x: hidden;
	}
	h1{
		text-align: left;
		font-size: 1.5rem;
		padding: 7px;
	}
	.dice {
		margin-top: 1rem;
		width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
	}
	nav{
		/* width: 5rem; */
		top: 0;
		left: unset;
		right: 0;
		border-radius: 0 0 0 7px;
		box-shadow: 0px 0px 2px 2px #00000061;
	}
	table{
		border-spacing: 1px;
	}
	.weightValue input{
		width: 75px;;

	}.alternative {
		width: 59%;
	}.sanchu{
		margin-left: 5px;
		font-size: medium;
	}
	.classPresent-box p{
		font-size: small;
	}

}